- request:
    method: GET
    uri: /repos/octocat/Hello-World/events
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
      Link: "<https://api.github.com/repositories/1296269/events?per_page=5&page=2>;\
        \ rel=\"next\", <https://api.github.com/repositories/1296269/events?per_page=5&page=56>;\
        \ rel=\"last\""
    body: |-
      [ {
        "id" : "50472301049",
        "type" : "ForkEvent",
        "actor" : {
          "id" : 150175012,
          "login" : "antoniovial",
          "display_login" : "antoniovial",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/antoniovial",
          "avatar_url" : "https://avatars.githubusercontent.com/u/150175012?"
        },
        "repo" : {
          "id" : 1296269,
          "name" : "octocat/Hello-World",
          "url" : "https://api.github.com/repos/octocat/Hello-World"
        },
        "payload" : {
          "forkee" : {
            "id" : 995612373,
            "node_id" : "R_kgDOO1fW1Q",
            "name" : "Hello-World",
            "full_name" : "antoniovial/Hello-World",
            "private" : false,
            "owner" : {
              "login" : "antoniovial",
              "id" : 150175012,
              "node_id" : "U_kgDOCPN9JA",
              "avatar_url" : "https://avatars.githubusercontent.com/u/150175012?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/antoniovial",
              "html_url" : "https://github.com/antoniovial",
              "followers_url" : "https://api.github.com/users/antoniovial/followers",
              "following_url" : "https://api.github.com/users/antoniovial/following{/other_user}",
              "gists_url" : "https://api.github.com/users/antoniovial/gists{/gist_id}",
              "starred_url" : "https://api.github.com/users/antoniovial/starred{/owner}{/repo}",
              "subscriptions_url" : "https://api.github.com/users/antoniovial/subscriptions",
              "organizations_url" : "https://api.github.com/users/antoniovial/orgs",
              "repos_url" : "https://api.github.com/users/antoniovial/repos",
              "events_url" : "https://api.github.com/users/antoniovial/events{/privacy}",
              "received_events_url" : "https://api.github.com/users/antoniovial/received_events",
              "type" : "User",
              "user_view_type" : "public",
              "site_admin" : false
            },
            "html_url" : "https://github.com/antoniovial/Hello-World",
            "description" : "My first repository on GitHub!",
            "fork" : true,
            "url" : "https://api.github.com/repos/antoniovial/Hello-World",
            "forks_url" : "https://api.github.com/repos/antoniovial/Hello-World/forks",
            "keys_url" : "https://api.github.com/repos/antoniovial/Hello-World/keys{/key_id}",
            "collaborators_url" : "https://api.github.com/repos/antoniovial/Hello-World/collaborators{/collaborator}",
            "teams_url" : "https://api.github.com/repos/antoniovial/Hello-World/teams",
            "hooks_url" : "https://api.github.com/repos/antoniovial/Hello-World/hooks",
            "issue_events_url" : "https://api.github.com/repos/antoniovial/Hello-World/issues/events{/number}",
            "events_url" : "https://api.github.com/repos/antoniovial/Hello-World/events",
            "assignees_url" : "https://api.github.com/repos/antoniovial/Hello-World/assignees{/user}",
            "branches_url" : "https://api.github.com/repos/antoniovial/Hello-World/branches{/branch}",
            "tags_url" : "https://api.github.com/repos/antoniovial/Hello-World/tags",
            "blobs_url" : "https://api.github.com/repos/antoniovial/Hello-World/git/blobs{/sha}",
            "git_tags_url" : "https://api.github.com/repos/antoniovial/Hello-World/git/tags{/sha}",
            "git_refs_url" : "https://api.github.com/repos/antoniovial/Hello-World/git/refs{/sha}",
            "trees_url" : "https://api.github.com/repos/antoniovial/Hello-World/git/trees{/sha}",
            "statuses_url" : "https://api.github.com/repos/antoniovial/Hello-World/statuses/{sha}",
            "languages_url" : "https://api.github.com/repos/antoniovial/Hello-World/languages",
            "stargazers_url" : "https://api.github.com/repos/antoniovial/Hello-World/stargazers",
            "contributors_url" : "https://api.github.com/repos/antoniovial/Hello-World/contributors",
            "subscribers_url" : "https://api.github.com/repos/antoniovial/Hello-World/subscribers",
            "subscription_url" : "https://api.github.com/repos/antoniovial/Hello-World/subscription",
            "commits_url" : "https://api.github.com/repos/antoniovial/Hello-World/commits{/sha}",
            "git_commits_url" : "https://api.github.com/repos/antoniovial/Hello-World/git/commits{/sha}",
            "comments_url" : "https://api.github.com/repos/antoniovial/Hello-World/comments{/number}",
            "issue_comment_url" : "https://api.github.com/repos/antoniovial/Hello-World/issues/comments{/number}",
            "contents_url" : "https://api.github.com/repos/antoniovial/Hello-World/contents/{+path}",
            "compare_url" : "https://api.github.com/repos/antoniovial/Hello-World/compare/{base}...{head}",
            "merges_url" : "https://api.github.com/repos/antoniovial/Hello-World/merges",
            "archive_url" : "https://api.github.com/repos/antoniovial/Hello-World/{archive_format}{/ref}",
            "downloads_url" : "https://api.github.com/repos/antoniovial/Hello-World/downloads",
            "issues_url" : "https://api.github.com/repos/antoniovial/Hello-World/issues{/number}",
            "pulls_url" : "https://api.github.com/repos/antoniovial/Hello-World/pulls{/number}",
            "milestones_url" : "https://api.github.com/repos/antoniovial/Hello-World/milestones{/number}",
            "notifications_url" : "https://api.github.com/repos/antoniovial/Hello-World/notifications{?since,all,participating}",
            "labels_url" : "https://api.github.com/repos/antoniovial/Hello-World/labels{/name}",
            "releases_url" : "https://api.github.com/repos/antoniovial/Hello-World/releases{/id}",
            "deployments_url" : "https://api.github.com/repos/antoniovial/Hello-World/deployments",
            "created_at" : "2025-06-03T18:50:33Z",
            "updated_at" : "2025-06-03T18:50:33Z",
            "pushed_at" : "2024-08-20T23:54:42Z",
            "git_url" : "git://github.com/antoniovial/Hello-World.git",
            "ssh_url" : "git@github.com:antoniovial/Hello-World.git",
            "clone_url" : "https://github.com/antoniovial/Hello-World.git",
            "svn_url" : "https://github.com/antoniovial/Hello-World",
            "homepage" : "",
            "size" : 1,
            "stargazers_count" : 0,
            "watchers_count" : 0,
            "language" : null,
            "has_issues" : false,
            "has_projects" : true,
            "has_downloads" : true,
            "has_wiki" : true,
            "has_pages" : false,
            "has_discussions" : false,
            "forks_count" : 0,
            "mirror_url" : null,
            "archived" : false,
            "disabled" : false,
            "open_issues_count" : 0,
            "license" : null,
            "allow_forking" : true,
            "is_template" : false,
            "web_commit_signoff_required" : false,
            "topics" : [ ],
            "visibility" : "public",
            "forks" : 0,
            "open_issues" : 0,
            "watchers" : 0,
            "default_branch" : "main",
            "public" : true
          }
        },
        "public" : true,
        "created_at" : "2025-06-03T18:50:34Z"
      }, {
        "id" : "50470068525",
        "type" : "ForkEvent",
        "actor" : {
          "id" : 214006393,
          "login" : "DavidMartinezEscachx",
          "display_login" : "DavidMartinezEscachx",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/DavidMartinezEscachx",
          "avatar_url" : "https://avatars.githubusercontent.com/u/214006393?"
      [...]
