- request:
    method: GET
    uri: /users/rahulsom/events/public?per_page=5&page=1
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
      Link: "<https://api.github.com/user/193047/events/public?per_page=5&page=2>;\
        \ rel=\"next\", <https://api.github.com/user/193047/events/public?per_page=5&page=51>;\
        \ rel=\"last\""
    body: |-
      [ {
        "id" : "50486444578",
        "type" : "PushEvent",
        "actor" : {
          "id" : 193047,
          "login" : "rahulsom",
          "display_login" : "rahulsom",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/rahulsom",
          "avatar_url" : "https://avatars.githubusercontent.com/u/193047?"
        },
        "repo" : {
          "id" : 825463572,
          "name" : "pulpogato/pulpogato",
          "url" : "https://api.github.com/repos/pulpogato/pulpogato"
        },
        "payload" : {
          "repository_id" : 825463572,
          "push_id" : 24687339966,
          "size" : 2,
          "distinct_size" : 2,
          "ref" : "refs/heads/main",
          "head" : "17d9d9f588baf816657bed5fcbd5af2e1e373909",
          "before" : "115e8ca8a62a4efd450f649a6bf4e83cb1dbcc9f",
          "commits" : [ {
            "sha" : "4dfa04997c7077cf7791696d7ca8f4875bfe0cff",
            "author" : {
              "email" : "rahul.som@gmail.com",
              "name" : "Rahul Somasunderam"
            },
            "message" : "test: Add tests for SearchApi",
            "distinct" : true,
            "url" : "https://api.github.com/repos/pulpogato/pulpogato/commits/4dfa04997c7077cf7791696d7ca8f4875bfe0cff"
          }, {
            "sha" : "17d9d9f588baf816657bed5fcbd5af2e1e373909",
            "author" : {
              "email" : "rahul.som@gmail.com",
              "name" : "Rahul Somasunderam"
            },
            "message" : "Merge pull request #390 from pulpogato/add-tests-search\n\ntest: Add tests for SearchApi",
            "distinct" : true,
            "url" : "https://api.github.com/repos/pulpogato/pulpogato/commits/17d9d9f588baf816657bed5fcbd5af2e1e373909"
          } ]
        },
        "public" : true,
        "created_at" : "2025-06-04T04:06:55Z",
        "org" : {
          "id" : 183456368,
          "login" : "pulpogato",
          "gravatar_id" : "",
          "url" : "https://api.github.com/orgs/pulpogato",
          "avatar_url" : "https://avatars.githubusercontent.com/u/183456368?"
        }
      }, {
        "id" : "50486444547",
        "type" : "DeleteEvent",
        "actor" : {
          "id" : 193047,
          "login" : "rahulsom",
          "display_login" : "rahulsom",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/rahulsom",
          "avatar_url" : "https://avatars.githubusercontent.com/u/193047?"
        },
        "repo" : {
          "id" : 825463572,
          "name" : "pulpogato/pulpogato",
          "url" : "https://api.github.com/repos/pulpogato/pulpogato"
        },
        "payload" : {
          "ref" : "add-tests-search",
          "ref_type" : "branch",
          "pusher_type" : "user"
        },
        "public" : true,
        "created_at" : "2025-06-04T04:06:55Z",
        "org" : {
          "id" : 183456368,
          "login" : "pulpogato",
          "gravatar_id" : "",
          "url" : "https://api.github.com/orgs/pulpogato",
          "avatar_url" : "https://avatars.githubusercontent.com/u/183456368?"
        }
      }, {
        "id" : "50486444179",
        "type" : "PullRequestEvent",
        "actor" : {
          "id" : 193047,
          "login" : "rahulsom",
          "display_login" : "rahulsom",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/rahulsom",
          "avatar_url" : "https://avatars.githubusercontent.com/u/193047?"
        },
        "repo" : {
          "id" : 825463572,
          "name" : "pulpogato/pulpogato",
          "url" : "https://api.github.com/repos/pulpogato/pulpogato"
        },
        "payload" : {
          "action" : "closed",
          "number" : 390,
          "pull_request" : {
            "url" : "https://api.github.com/repos/pulpogato/pulpogato/pulls/390",
            "id" : 2564634128,
            "node_id" : "PR_kwDOMTOTFM6Y3TYQ",
            "html_url" : "https://github.com/pulpogato/pulpogato/pull/390",
            "diff_url" : "https://github.com/pulpogato/pulpogato/pull/390.diff",
            "patch_url" : "https://github.com/pulpogato/pulpogato/pull/390.patch",
            "issue_url" : "https://api.github.com/repos/pulpogato/pulpogato/issues/390",
            "number" : 390,
            "state" : "closed",
            "locked" : false,
            "title" : "test: Add tests for SearchApi",
            "user" : {
              "login" : "rahulsom",
              "id" : 193047,
              "node_id" : "MDQ6VXNlcjE5MzA0Nw==",
              "avatar_url" : "https://avatars.githubusercontent.com/u/193047?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/rahulsom",
              "html_url" : "https://github.com/rahulsom",
              "followers_url" : "https://api.github.com/users/rahulsom/followers",
              "following_url" : "https://api.github.com/users/rahulsom/following{/other_user}",
              "gists_url" : "https://api.github.com/users/rahulsom/gists{/gist_id}",
              "starred_url" : "https://api.github.com/users/rahulsom/starred{/owner}{/repo}",
              "subscriptions_url" : "https://api.github.com/users/rahulsom/subscriptions",
              "organizations_url" : "https://api.github.com/users/rahulsom/orgs",
              "repos_url" : "https://api.github.com/users/rahulsom/repos",
              "events_url" : "https://api.github.com/users/rahulsom/events{/privacy}",
              "received_events_url" : "https://api.github.com/users/rahulsom/received_events",
              "type" : "User",
              "user_view_type" : "public",
              "site_admin" : false
            },
            "body" : null,
            "created_at" : "2025-06-03T16:52:30Z",
            "updated_at" : "2025-06-04T04:06:53Z",
            "closed_at" : "2025-06-04T04:06:53Z",
            "merged_at" : "2025-06-04T04:06:53Z",
            "merge_commit_sha" : "17d9d9f588baf816657bed5fcbd5af2e1e373909",
            "assignee" : null,
            "assignees" : [ ],
            "requested_reviewers" : [ ],
            "requested_teams" : [ ],
            "labels" : [ {
              "id" : 8592800960,
              "node_id" : "LA_kwDOMTOTFM8AAAACACu8wA",
              "url" : "https://api.github.com/repos/pulpogato/pulpogato/labels/test",
              "name" : "test",
              "color" : "194F17",
              "default" : false,
              "description" : ""
            } ],
            "milestone" : null,
            "draft" : false,
            "commits_url" : "https://api.github.com/repos/pulpogato/pulpogato/pulls/390/commits",
            "review_comments_url" : "https://api.github.com/repos/pulpogato/pulpogato/pulls/390/comments",
            "review_comment_url" : "https://api.github.com/repos/pulpogato/pulpogato/pulls/comments{/number}",
            "comments_url" : "https://api.github.com/repos/pulpogato/pulpogato/issues/390/comments",
            "statuses_url" : "https://api.github.com/repos/pulpogato/pulpogato/statuses/4dfa04997c7077cf7791696d7ca8f4875bfe0cff",
            "head" : {
              "label" : "pulpogato:add-tests-search",
              "ref" : "add-tests-search",
              "sha" : "4dfa04997c7077cf7791696d7ca8f4875bfe0cff",
              "user" : {
                "login" : "pulpogato",
                "id" : 183456368,
                "node_id" : "O_kgDOCu9ScA",
                "avatar_url" : "https://avatars.githubusercontent.com/u/183456368?v=4",
                "gravatar_id" : "",
                "url" : "https://api.github.com/users/pulpogato",
                "html_url" : [...]
