- request:
    method: GET
    uri: /events?per_page=10&page=1
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
      Link: "<https://api.github.com/events?per_page=10&page=2>; rel=\"next\", <https://api.github.com/events?per_page=10&page=28>;\
        \ rel=\"last\""
    body: |-
      [ {
        "id" : "50486820386",
        "type" : "PushEvent",
        "actor" : {
          "id" : 4898379,
          "login" : "james2037",
          "display_login" : "james2037",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/james2037",
          "avatar_url" : "https://avatars.githubusercontent.com/u/4898379?"
        },
        "repo" : {
          "id" : 915561009,
          "name" : "james2037/mcp-php-server",
          "url" : "https://api.github.com/repos/james2037/mcp-php-server"
        },
        "payload" : {
          "repository_id" : 915561009,
          "push_id" : 24687531036,
          "size" : 1,
          "distinct_size" : 1,
          "ref" : "refs/heads/master",
          "head" : "367bba8b3a4e7f48e8d965696bcbb39e4ec8efd7",
          "before" : "d7e1cf85987a60fff49485db5ed2e01d2cfe337c",
          "commits" : [ {
            "sha" : "367bba8b3a4e7f48e8d965696bcbb39e4ec8efd7",
            "author" : {
              "email" : "161369871+google-labs-jules[bot]@users.noreply.github.com",
              "name" : "google-labs-jules[bot]"
            },
            "message" : "Refactor: Use token_get_all in Registry::getClassFromFile\n\nI replaced the fragile regex-based class and interface/enum detection in MCP\\Server\\Registry::getClassFromFile with a more robust solution using the `token_get_all` PHP built-in function.\n\nThe new implementation correctly handles namespaces, classes, interfaces, and enums. It also gracefully handles files with no class/interface/enum definition or files with syntax errors.\n\nI updated unit tests to cover the new implementation, including test cases for files with interfaces, enums, syntax errors, and no class/interface/enum definition.",
            "distinct" : true,
            "url" : "https://api.github.com/repos/james2037/mcp-php-server/commits/367bba8b3a4e7f48e8d965696bcbb39e4ec8efd7"
          } ]
        },
        "public" : true,
        "created_at" : "2025-06-04T04:24:53Z"
      }, {
        "id" : "50486820393",
        "type" : "DeleteEvent",
        "actor" : {
          "id" : 29139614,
          "login" : "renovate[bot]",
          "display_login" : "renovate",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/renovate%5Bbot%5D",
          "avatar_url" : "https://avatars.githubusercontent.com/u/29139614?"
        },
        "repo" : {
          "id" : 880540912,
          "name" : "rupaschomaker/home-cluster",
          "url" : "https://api.github.com/repos/rupaschomaker/home-cluster"
        },
        "payload" : {
          "ref" : "renovate/flux-qbittorrent-22.5.x",
          "ref_type" : "branch",
          "pusher_type" : "user"
        },
        "public" : true,
        "created_at" : "2025-06-04T04:24:53Z"
      }, {
        "id" : "50486820391",
        "type" : "IssueCommentEvent",
        "actor" : {
          "id" : 10258444,
          "login" : "BadJukeBox",
          "display_login" : "BadJukeBox",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/BadJukeBox",
          "avatar_url" : "https://avatars.githubusercontent.com/u/10258444?"
        },
        "repo" : {
          "id" : 972587536,
          "name" : "wowsims/mop",
          "url" : "https://api.github.com/repos/wowsims/mop"
        },
        "payload" : {
          "action" : "created",
          "issue" : {
            "url" : "https://api.github.com/repos/wowsims/mop/issues/96",
            "repository_url" : "https://api.github.com/repos/wowsims/mop",
            "labels_url" : "https://api.github.com/repos/wowsims/mop/issues/96/labels{/name}",
            "comments_url" : "https://api.github.com/repos/wowsims/mop/issues/96/comments",
            "events_url" : "https://api.github.com/repos/wowsims/mop/issues/96/events",
            "html_url" : "https://github.com/wowsims/mop/pull/96",
            "id" : 3072349588,
            "node_id" : "PR_kwDOOfiCEM6WpUCe",
            "number" : 96,
            "title" : "[Draft] Frost Mage Spec Fixes for MOP",
            "user" : {
              "login" : "BadJukeBox",
              "id" : 10258444,
              "node_id" : "MDQ6VXNlcjEwMjU4NDQ0",
              "avatar_url" : "https://avatars.githubusercontent.com/u/10258444?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/BadJukeBox",
              "html_url" : "https://github.com/BadJukeBox",
              "followers_url" : "https://api.github.com/users/BadJukeBox/followers",
              "following_url" : "https://api.github.com/users/BadJukeBox/following{/other_user}",
              "gists_url" : "https://api.github.com/users/BadJukeBox/gists{/gist_id}",
              "starred_url" : "https://api.github.com/users/BadJukeBox/starred{/owner}{/repo}",
              "subscriptions_url" : "https://api.github.com/users/BadJukeBox/subscriptions",
              "organizations_url" : "https://api.github.com/users/BadJukeBox/orgs",
              "repos_url" : "https://api.github.com/users/BadJukeBox/repos",
              "events_url" : "https://api.github.com/users/BadJukeBox/events{/privacy}",
              "received_events_url" : "https://api.github.com/users/BadJukeBox/received_events",
              "type" : "User",
              "user_view_type" : "public",
              "site_admin" : false
            },
            "labels" : [ {
              "id" : 8518017880,
              "node_id" : "LA_kwDOOfiCEM8AAAAB-7ajWA",
              "url" : "https://api.github.com/repos/wowsims/mop/labels/Druid",
              "name" : "Druid",
              "color" : "FF7C0A",
              "default" : false,
              "description" : ""
            }, {
              "id" : 8518019100,
              "node_id" : "LA_kwDOOfiCEM8AAAAB-7aoHA",
              "url" : "https://api.github.com/repos/wowsims/mop/labels/Mage",
              "name" : "Mage",
              "color" : "3FC7EB",
              "default" : false,
              "description" : ""
            } ],
            "state" : "open",
            "locked" : false,
            "assignee" : null,
            "assignees" : [ ],
            "milestone" : null,
            "comments" : 7,
            "created_at" : "2025-05-19T03:03:37Z",
            "updated_at" : "2025-06-04T04:24:53Z",
            "closed_at" : null,
            "author_association" : "NONE",
            "type" : null,
            "active_lock_reason" : null,
            "draft" : true,
            "pull_request" : {
              "url" : "https://api.github.com/repos/wowsims/mop/pulls/96",
              "html_url" : "https://github.com/wowsims/mop/pull/96",
              "diff_url" : "https://github.com/wowsims/mop/pull/96.diff",
              "patch_url" : "https://github.com/wowsims/mop/pull/96.patch",
              "merged_at" : null
            },
            "body" : "Current To Do List:\r\n\r\nFrost and Frost adjacent spells:\r\n- [x] Frostbolt\r\n- [x] Frostfire Bolt\r\n- [x] Frozen Orb\r\n- [x] Ice Lane\r\n- [x] Cone of Cold\r\n- [x] Frost Nova\r\n- [x] Living Bomb\r\n- [x] Frost Bomb\r\n- [ ] Nether Tempest\r\n- [x] Icy Veins\r\n- [x] Evocation/Invcocation\r\n- [x] Frost Armor\r\n- [x] Mage Armor\r\n- [x] Molten Armor\r\n- [x] Summon Water Elemental\r\n- [ ] Alter Time\r\n\r\nPassives:\r\n\r\n- [x] Fingers of Frost\r\n- [x] Brain Freeze\r\n- [x] Mastery: Icicles\r\n- [x] Wizardry?\r\n\r\nTalents:\r\n\r\n- [x] Presence of Mind\r\n- [x] Ice Floes (If we care about movement) \r\n- [x] Nether Tempest\r\n- [x] Living Bomb\r\n- [x] Frost Bomb\r\n- [x] Invocation\r\n- [x] Rune of Power\r\n- [ ] Incanter's Ward\r\n\r\nGlyphs:\r\n\r\n- [x] Cone of Cold\r\n- [x] Frostfire Bolt\r\n- [x] Glyph of Icy Veins\r\n- [x] Splitting Ice\r\n- [x] Water Elemental\r\n\r\nAPL:\r\n\r\n- [ ] APL\r\n",
            "reactions" : {
              "url" : "https://api.github.com/repos/wowsims/mop/issues/96/reactions",
              "total_count" : 0,
              "+1" : 0,
              "-1" : 0,
              "laugh" : 0,
              "hooray" : 0,
              "confused" : 0,
              "heart" : 0,
              "rocket" : 0,
              "eyes" : 0
            },
            "timeline_url" : "https://api.github.com/repos/wowsims/mop/issues/96/timeline",
            "performed_via_github_app" : null,
            "state_reason" : null
          },
          "comment" : {
            "url" : "https://api.github.com/repos/wowsims/mop/issues/comments/2938438410",
            "html_url" : "https://github.com/wowsims/mop/pull/96#issuecomment-2938438410",
            "issue_url" : "https://api.github.com/repos/wowsims/mop/issues/96",
            "id" : 2938438410,
            "node_id" : "IC_kwDOOfiCEM6vJQMK",
            "user" : {
              "login" : "BadJukeBox",
              "id" : 10258444,
              "node_id" : "MDQ6VXNlcjEwMjU4NDQ0",
              "avatar_url" : "https://avatars.githubusercontent.com/u/10258444?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/BadJukeBox",
              "html_url" : "https://githu[...]
