- request:
    method: GET
    uri: /orgs/github/events
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
      Link: "<https://api.github.com/organizations/9919/events?per_page=5&page=2>;\
        \ rel=\"next\", <https://api.github.com/organizations/9919/events?per_page=5&page=53>;\
        \ rel=\"last\""
    body: |-
      [ {
        "id" : "50473417741",
        "type" : "IssueCommentEvent",
        "actor" : {
          "id" : 190882333,
          "login" : "Sharra-writes",
          "display_login" : "Sharra-writes",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/Sharra-writes",
          "avatar_url" : "https://avatars.githubusercontent.com/u/190882333?"
        },
        "repo" : {
          "id" : 189621607,
          "name" : "github/docs",
          "url" : "https://api.github.com/repos/github/docs"
        },
        "payload" : {
          "action" : "created",
          "issue" : {
            "url" : "https://api.github.com/repos/github/docs/issues/38439",
            "repository_url" : "https://api.github.com/repos/github/docs",
            "labels_url" : "https://api.github.com/repos/github/docs/issues/38439/labels{/name}",
            "comments_url" : "https://api.github.com/repos/github/docs/issues/38439/comments",
            "events_url" : "https://api.github.com/repos/github/docs/issues/38439/events",
            "html_url" : "https://github.com/github/docs/issues/38439",
            "id" : 3077245824,
            "node_id" : "I_kwDOC01lZ863awuA",
            "number" : 38439,
            "title" : "document that `atom` feeds are available for things and explain how to access them",
            "user" : {
              "login" : "jsoref",
              "id" : 2119212,
              "node_id" : "MDQ6VXNlcjIxMTkyMTI=",
              "avatar_url" : "https://avatars.githubusercontent.com/u/2119212?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/jsoref",
              "html_url" : "https://github.com/jsoref",
              "followers_url" : "https://api.github.com/users/jsoref/followers",
              "following_url" : "https://api.github.com/users/jsoref/following{/other_user}",
              "gists_url" : "https://api.github.com/users/jsoref/gists{/gist_id}",
              "starred_url" : "https://api.github.com/users/jsoref/starred{/owner}{/repo}",
              "subscriptions_url" : "https://api.github.com/users/jsoref/subscriptions",
              "organizations_url" : "https://api.github.com/users/jsoref/orgs",
              "repos_url" : "https://api.github.com/users/jsoref/repos",
              "events_url" : "https://api.github.com/users/jsoref/events{/privacy}",
              "received_events_url" : "https://api.github.com/users/jsoref/received_events",
              "type" : "User",
              "user_view_type" : "public",
              "site_admin" : false
            },
            "labels" : [ {
              "id" : 2351330112,
              "node_id" : "MDU6TGFiZWwyMzUxMzMwMTEy",
              "url" : "https://api.github.com/repos/github/docs/labels/content",
              "name" : "content",
              "color" : "2da44e",
              "default" : false,
              "description" : "This issue or pull request belongs to the Docs Content team"
            }, {
              "id" : 3870658565,
              "node_id" : "LA_kwDOC01lZ87mtZAF",
              "url" : "https://api.github.com/repos/github/docs/labels/repositories",
              "name" : "repositories",
              "color" : "2da44e",
              "default" : false,
              "description" : "Content related to repositories"
            }, {
              "id" : 4083532770,
              "node_id" : "LA_kwDOC01lZ87zZcPi",
              "url" : "https://api.github.com/repos/github/docs/labels/organizations",
              "name" : "organizations",
              "color" : "6639ba",
              "default" : false,
              "description" : "Content related to organizations"
            } ],
            "state" : "open",
            "locked" : false,
            "assignee" : null,
            "assignees" : [ ],
            "milestone" : null,
            "comments" : 10,
            "created_at" : "2025-05-20T14:31:54Z",
            "updated_at" : "2025-06-03T19:21:43Z",
            "closed_at" : null,
            "author_association" : "CONTRIBUTOR",
            "type" : null,
            "active_lock_reason" : null,
            "sub_issues_summary" : {
              "total" : 0,
              "completed" : 0,
              "percent_completed" : 0
            },
            "body" : "### Code of Conduct\n\n- [x] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/.github/CODE_OF_CONDUCT.md)\n\n### What article on docs.github.com is affected?\n\nhttps://docs.github.com/en/organizations/collaborating-with-groups-in-organizations/about-your-organizations-news-feed\nhttps://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes\n\n### What part(s) of the article would you like to see updated?\n\nAdd a page or sections to pages that talk about which things have atom feeds and the urls to access them\n\n### Additional information\n\nI searched through all 4 pages of https://docs.github.com/en/search?query=feed and nothing turned up to tell me how to get an atom feed for releases.\n\nthere's a reference in https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes to a \"releases\" \"feed', but it's effectively https://github.com/home-assistant/core/releases and not https://github.com/home-assistant/core/releases.atom",
            "reactions" : {
              "url" : "https://api.github.com/repos/github/docs/issues/38439/reactions",
              "total_count" : 0,
              "+1" : 0,
              "-1" : 0,
              "laugh" : 0,
              "hooray" : 0,
              "confused" : 0,
              "heart" : 0,
              "rocket" : 0,
              "eyes" : 0
            },
            "timeline_url" : "https://api.github.com/repos/github/docs/issues/38439/timeline",
            "performed_via_github_app" : null,
            "state_reason" : null
          },
          "comment" : {
            "url" : "https://api.github.com/repos/github/docs/issues/comments/2936837334",
            "html_url" : "https://github.com/github/docs/issues/38439#issuecomment-2936837334",
            "issue_url" : "https://api.github.com/repos/github/docs/issues/38439",
            "id" : 2936837334,
            "node_id" : "IC_kwDOC01lZ86vDJTW",
            "user" : {
              "login" : "Sharra-writes",
              "id" : 190882333,
              "node_id" : "U_kgDOC2CiHQ",
              "avatar_url" : "https://avatars.githubusercontent.com/u/190882333?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/Sharra-writes",
              "html_url" : "https://gi[...]
