- request:
    method: GET
    uri: /repos/pulpogato/pulpogato/actions/workflows/check-issues-statuses.yml/runs
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
      Link: "<https://api.github.com/repositories/825463572/actions/workflows/check-issues-statuses.yml/runs?page=2>;\
        \ rel=\"next\", <https://api.github.com/repositories/825463572/actions/workflows/check-issues-statuses.yml/runs?page=4>;\
        \ rel=\"last\""
    body: |-
      {
        "total_count" : 93,
        "workflow_runs" : [ {
          "id" : 20385810647,
          "name" : "Check Issue Statuses",
          "node_id" : "WFR_kwLOMTOTFM8AAAAEvxbI1w",
          "head_branch" : "main",
          "head_sha" : "6aa7259edd73a44c4f68a513d7eb006b9327b93c",
          "path" : ".github/workflows/check-issues-statuses.yml",
          "display_title" : "Check Issue Statuses",
          "run_number" : 93,
          "event" : "workflow_dispatch",
          "status" : "completed",
          "conclusion" : "success",
          "workflow_id" : 195946749,
          "check_suite_id" : 52707047882,
          "check_suite_node_id" : "CS_kwDOMTOTFM8AAAAMRZW5yg",
          "url" : "https://api.github.com/repos/pulpogato/pulpogato/actions/runs/20385810647",
          "html_url" : "https://github.com/pulpogato/pulpogato/actions/runs/20385810647",
          "pull_requests" : [ ],
          "created_at" : "2025-12-20T00:04:30Z",
          "updated_at" : "2025-12-20T00:06:17Z",
          "actor" : {
            "login" : "rahulsom",
            "id" : 193047,
            "node_id" : "MDQ6VXNlcjE5MzA0Nw==",
            "avatar_url" : "https://avatars.githubusercontent.com/u/193047?v=4",
            "gravatar_id" : "",
            "url" : "https://api.github.com/users/rahulsom",
            "html_url" : "https://github.com/rahulsom",
            "followers_url" : "https://api.github.com/users/rahulsom/followers",
            "following_url" : "https://api.github.com/users/rahulsom/following{/other_user}",
            "gists_url" : "https://api.github.com/users/rahulsom/gists{/gist_id}",
            "starred_url" : "https://api.github.com/users/rahulsom/starred{/owner}{/repo}",
            "subscriptions_url" : "https://api.github.com/users/rahulsom/subscriptions",
            "organizations_url" : "https://api.github.com/users/rahulsom/orgs",
            "repos_url" : "https://api.github.com/users/rahulsom/repos",
            "events_url" : "https://api.github.com/users/rahulsom/events{/privacy}",
            "received_events_url" : "https://api.github.com/users/rahulsom/received_events",
            "type" : "User",
            "user_view_type" : "public",
            "site_admin" : false
          },
          "run_attempt" : 1,
          "referenced_workflows" : [ ],
          "run_started_at" : "2025-12-20T00:04:30Z",
          "triggering_actor" : {
            "login" : "rahulsom",
            "id" : 193047,
            "node_id" : "MDQ6VXNlcjE5MzA0Nw==",
            "avatar_url" : "https://avatars.githubusercontent.com/u/193047?v=4",
            "gravatar_id" : "",
            "url" : "https://api.github.com/users/rahulsom",
            "html_url" : "https://github.com/rahulsom",
            "followers_url" : "https://api.github.com/users/rahulsom/followers",
            "following_url" : "https://api.github.com/users/rahulsom/following{/other_user}",
            "gists_url" : "https://api.github.com/users/rahulsom/gists{/gist_id}",
            "starred_url" : "https://api.github.com/users/rahulsom/starred{/owner}{/repo}",
            "subscriptions_url" : "https://api.github.com/users/rahulsom/subscriptions",
            "organizations_url" : "https://api.github.com/users/rahulsom/orgs",
            "repos_url" : "https://api.github.com/users/rahulsom/repos",
            "events_url" : "https://api.github.com/users/rahulsom/events{/privacy}",
            "received_events_url" : "https://api.github.com/users/rahulsom/received_events",
            "type" : "User",
            "user_view_type" : "public",
            "site_admin" : false
          },
          "jobs_url" : "https://api.github.com/repos/pulpogato/pulpogato/actions/runs/20385810647/jobs",
          "logs_url" : "https://api.github.com/repos/pulpogato/pulpogato/actions/runs/20385810647/logs",
          "check_suite_url" : "https://api.github.com/repos/pulpogato/pulpogato/check-suites/52707047882",
          "artifacts_url" : "https://api.github.com/repos/pulpogato/pulpogato/actions/runs/20385810647/artifacts",
          "cancel_url" : "https://api.github.com/repos/pulpogato/pulpogato/actions/runs/20385810647/cancel",
          "rerun_url" : "https://api.github.com/repos/pulpogato/pulpogato/actions/runs/20385810647/rerun",
          "previous_attempt_url" : null,
          "workflow_url" : "https://api.github.com/repos/pulpogato/pulpogato/actions/workflows/195946749",
          "head_commit" : {
            "id" : "6aa7259edd73a44c4f68a513d7eb006b9327b93c",
            "tree_id" : "15edbb4cd8041634e61d20f7323b57454360f5f6",
            "message" : "Merge pull request #798 from pulpogato/renovate/httpclient5\n\nfix(deps): update dependency org.apache.httpcomponents.client5:httpclient5 to v5.5.2",
            "timestamp" : "2025-12-19T21:00:44Z",
            "author" : {
              "name" : "renovate[bot]",
              "email" : "29139614+renovate[bot]@users.noreply.github.com"
            },
            "committer" : {
              "name" : "GitHub",
              "email" : "noreply@github.com"
            }
          },
          "repository" : {
            "id" : 825463572,
            "node_id" : "R_kgDOMTOTFA",
            "name" : "pulpogato",
            "full_name" : "pulpogato/pulpogato",
            "private" : false,
            "owner" : {
              "login" : "pulpogato",
              "id" : 183456368,
              "node_id" : "O_kgDOCu9ScA",
              "avatar_url" : "https://avatars.githubusercontent.com/u/183456368?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/pulpogato",
              "html_url" : "https://github.com/pulpogato",
              "followers_url" : "https://api.github.com/users/pulpogato/followers",
              "following_url" : "https://api.github.com/users/pulpogato/following{/other_user}",
              "gists_url" : "https://api.github.com/users/pulpogato/gists{/gist_id}",
              "starred_url" : "https://api.github.com/users/pulpogato/starred{/owner}{/repo}",
              "subscriptions_url" : "https://api.github.com/users/pulpogato/subscriptions",
              "organizations_url" : "https://api.github.com/users/pulpogato/orgs",
              "repos_url" : "https://api.github.com/users/pulpogato/repos",
              "events_url" : "https://api.github.com/users/pulpogato/events{/privacy}",
              "received_events_url" : "https://api.github.com/users/pulpogato/received_events",
              "type" : "Organization",
              "user_view_type" : "public",
              "site_admin" : false
            },
            "html_url" : "https://github.com/pulpogato/pulpogato",
            "description" : "Generated GitHub Java Client",
            "fork" : false,
            "url" : "https://api.github.com/repos/pulpogato/pulpogato",
            "forks_url" : "https://api.github.com/repos/pulpogato/pulpogato/forks",
            "keys_url" : "https://api.github.com/repos/pulpogato/pulpogato/keys{/key_id}",
            "collaborators_url" : "https://api.github.com/repos/pulpogato/pulpogato/collaborators{/collaborator}",
            "teams_url" : "https://api.github.com/repos/pulpogato/pulpogato/teams",
            "hooks_url" : "https://api.github.com/repos/pulpogato/pulpogato/hooks",
            "issue_events_url" : "https://api.github.com/repos/pulpogato/pulpogato/issues/events{/number}",
            "events_url" : "https://api.github.com/repos/pulpogato/pulpogato/events",
            "assignees_url" : "https://api.github.com/repos/pulpogato/pulpogato/assignees{/user}",
            "branches_url" : "https://api.github.com/repos/pulpogato/pulpogato/branches{/branch}",
            "tags_url" : "https://api.github.com/repos/pulpogato/pulpogato/tags",
            "blobs_url" : "https://api.github.com/repos/pulpogato/pulpogato/git/blobs{/sha}",
            "git_tags_url" : "https://api.github.com/repos/pulpogato/pulpogato/git/tags{/sha}",
            "git_refs_url" : "https://api.github.com/repos/pulpogato/pulpogato/git/refs{/sha}",
            "trees_url" : "https://api.github.com/repos/pulpogato/pulpogato/git/trees{/sha}",
            "statuses_url" : "https://api.github.com/repos/pulpogato/pulpogato/statuses/{sha}",
            "languages_url" : "https://api.github.com/repos/pulpogato/pulpogato/languages",
            "stargazers_url" : "https://api.github.com/repos/pulpogato/pulpogato/stargazers",
            "contributors_url" : "https://api.github.com/repos/pulpogato/pulpogato/contributors",
            "subscribers_url" : "https://api.github.com/repos/pulpogato/pulpogato/subscribers",
            "subscription_url" : "https://api.github.com/repos/pulpogato/pulpogato/subscription",
            "commits_url" : "https://api.github.com/repos/pulpogato/pulpogato/commits{/sha}",
            "git_commits_url" : "https://api.github.com/repos/pulpogato/pulpogato/git/commits{/sha}",
            "comments_url" : "https://api.github.com/repos/pulpogato/pulpogato/comments{/number}",
            "issue_comment_url" : "https://api.github.com/repos/pulpogato/pulpogato/issues/comments{/number}",
            "contents_url" : "https://api.github.com/repos/pulpogato/pulpogato/contents/{+path}",
            "compare_url" : "https://api.github.com/repos/pulpogato/pulpogato/compare/{base}...{head}",
            "merges_url" : "https://api.github.com/repos/pulpogato/pulpogato/merges",
            "archive_url" : "https://api.github.com/repos/pulpogato/pulpogato/{archive_format}{/ref}",
            "downloads_url" : "https://api.github.com/repos/pulpogato/pulpogato/downloads",
            "issues_url" : "https://api.github.com/repos/pulpogato/pulpogato/issues{/number}",
            "pulls_url" : "https://api.github.com/repos/pulpogato/pulpogato/pulls{/number}",
            "milestones_url" : "https://api.github.com/repos/pulpogato/pulpogato/milestones{/number}",
            "notifications_url" : "https://api.github.com/repos/pulpogato/pulpogato/notifications{?since,all,participating}",
            "labels_url" : "https://api.github.com/repos/pulpogato/pulpogato/labels{/name}",
            "releases_url" : "https://api.github.com/repos/pulpogato/pulpogato/releases{/id}",
            "deployments_url" : "https://api.github.com/repos/pulpogato/pulpogato/deployments"
          },
          "head_repository" : {
            "id" : 825463572,
            "node_id" : "R_kgDOMTOTFA",
            "name" : "pulpogato",
            "full_name" : "pulpogato/pulpogato",
            "private" : false,
            "owner" : {
              "login" : "pulpogato",
              "id" : 183456368,
              "node_id" : "O_kgDOCu9ScA",
              "avatar_url" : "https://avatars.githubusercontent.com/u/183456368?v=4",
              "gravatar_id" : "",
              "url" : "https://api.github.com/users/pulpog[...]
