- request:
    method: GET
    uri: /repos/pulpogato/pulpogato/branches?per_page=1&page=1
    protocol: HTTP/1.1
    headers:
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
      Link: "<https://api.github.com/repositories/825463572/branches?per_page=1&page=2>;\
        \ rel=\"next\", <https://api.github.com/repositories/825463572/branches?per_page=1&page=3>;\
        \ rel=\"last\""
    bodyIsBinary: false
    body: |-
      [ {
        "name" : "gh-pages",
        "commit" : {
          "sha" : "0d134897c10bf38cb68e0302f9f98f2f2bbe348e",
          "url" : "https://api.github.com/repos/pulpogato/pulpogato/commits/0d134897c10bf38cb68e0302f9f98f2f2bbe348e"
        },
        "protected" : false,
        "protection" : {
          "enabled" : false,
          "required_status_checks" : {
            "enforcement_level" : "off",
            "contexts" : [ ],
            "checks" : [ ]
          }
        },
        "protection_url" : "https://api.github.com/repos/pulpogato/pulpogato/branches/gh-pages/protection"
      } ]
