- request:
    method: GET
    uri: /repos/pulpogato/pulpogato/tags?per_page=100&page=1
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body: |-
      [ {
        "name" : "v0.2.0",
        "zipball_url" : "https://api.github.com/repos/pulpogato/pulpogato/zipball/refs/tags/v0.2.0",
        "tarball_url" : "https://api.github.com/repos/pulpogato/pulpogato/tarball/refs/tags/v0.2.0",
        "commit" : {
          "sha" : "ca9c722d02e7656bdbdd08d18df0daeaa1eaa0dc",
          "url" : "https://api.github.com/repos/pulpogato/pulpogato/commits/ca9c722d02e7656bdbdd08d18df0daeaa1eaa0dc"
        },
        "node_id" : "REF_kwDOMTOTFLByZWZzL3RhZ3MvdjAuMi4w"
      }, {
        "name" : "v0.1.0",
        "zipball_url" : "https://api.github.com/repos/pulpogato/pulpogato/zipball/refs/tags/v0.1.0",
        "tarball_url" : "https://api.github.com/repos/pulpogato/pulpogato/tarball/refs/tags/v0.1.0",
        "commit" : {
          "sha" : "9ac0b58abf7896328339211d376e9b35270411bc",
          "url" : "https://api.github.com/repos/pulpogato/pulpogato/commits/9ac0b58abf7896328339211d376e9b35270411bc"
        },
        "node_id" : "REF_kwDOMTOTFLByZWZzL3RhZ3MvdjAuMS4w"
      } ]
