- request:
    method: GET
    uri: /repos/jenkinsci/gradle-jpi-plugin/branches?per_page=5&page=1
    protocol: HTTP/1.1
    headers:
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
      Link: "<https://api.github.com/repositories/2976872/branches?per_page=5&page=2>;\
        \ rel=\"next\", <https://api.github.com/repositories/2976872/branches?per_page=5&page=5>;\
        \ rel=\"last\""
    bodyIsBinary: false
    body: |-
      [ {
        "name" : "accmod-toolchain",
        "commit" : {
          "sha" : "714cb1afb32117f84f9445786905c0a4dcf43666",
          "url" : "https://api.github.com/repos/jenkinsci/gradle-jpi-plugin/commits/714cb1afb32117f84f9445786905c0a4dcf43666"
        },
        "protected" : false
      }, {
        "name" : "feature/nix",
        "commit" : {
          "sha" : "f4f4613bb9be07fd38dfbc82062504e6d3c50bb0",
          "url" : "https://api.github.com/repos/jenkinsci/gradle-jpi-plugin/commits/f4f4613bb9be07fd38dfbc82062504e6d3c50bb0"
        },
        "protected" : false
      }, {
        "name" : "feature/remote-exec",
        "commit" : {
          "sha" : "e93896a56933692b767d19bc12f702011be21c1a",
          "url" : "https://api.github.com/repos/jenkinsci/gradle-jpi-plugin/commits/e93896a56933692b767d19bc12f702011be21c1a"
        },
        "protected" : false
      }, {
        "name" : "fix/ci",
        "commit" : {
          "sha" : "ec7194e8098d6a2322fbc7147f15b97671078230",
          "url" : "https://api.github.com/repos/jenkinsci/gradle-jpi-plugin/commits/ec7194e8098d6a2322fbc7147f15b97671078230"
        },
        "protected" : false
      }, {
        "name" : "fix/jvm-args",
        "commit" : {
          "sha" : "5fcebbb1d125dd4ecb47033c470d1f8e470b2ce0",
          "url" : "https://api.github.com/repos/jenkinsci/gradle-jpi-plugin/commits/5fcebbb1d125dd4ecb47033c470d1f8e470b2ce0"
        },
        "protected" : false
      } ]
[...]
