- request:
    method: GET
    uri: /repos/pulpogato/create-demo
    protocol: HTTP/1.1
    headers:
  response:
    statusCode: 301
    headers:
      Content-Type: application/json; charset=utf-8
      Location: https://api.github.com/repositories/952818951
    bodyIsBinary: false
    body: |-
      {
        "message" : "Moved Permanently",
        "url" : "https://api.github.com/repositories/952818951",
        "documentation_url" : "https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api#follow-redirects"
      }
- request:
    method: GET
    uri: /repositories/952818951
    protocol: HTTP/1.1
    headers:
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
    bodyIsBinary: false
    body: |-
      {
        "id" : 952818951,
        "node_id" : "R_kgDOOMrdBw",
        "name" : "rename-demo",
        "full_name" : "pulpogato/rename-demo",
        "private" : false,
        "owner" : {
          "login" : "pulpogato",
          "id" : 183456368,
          "node_id" : "O_kgDOCu9ScA",
          "avatar_url" : "https://avatars.githubusercontent.com/u/183456368?v=4",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/pulpogato",
          "html_url" : "https://github.com/pulpogato",
          "followers_url" : "https://api.github.com/users/pulpogato/followers",
          "following_url" : "https://api.github.com/users/pulpogato/following{/other_user}",
          "gists_url" : "https://api.github.com/users/pulpogato/gists{/gist_id}",
          "starred_url" : "https://api.github.com/users/pulpogato/starred{/owner}{/repo}",
          "subscriptions_url" : "https://api.github.com/users/pulpogato/subscriptions",
          "organizations_url" : "https://api.github.com/users/pulpogato/orgs",
          "repos_url" : "https://api.github.com/users/pulpogato/repos",
          "events_url" : "https://api.github.com/users/pulpogato/events{/privacy}",
          "received_events_url" : "https://api.github.com/users/pulpogato/received_events",
          "type" : "Organization",
          "user_view_type" : "public",
          "site_admin" : false
        },
        "html_url" : "https://github.com/pulpogato/rename-demo",
        "description" : "create demo",
        "fork" : false,
        "url" : "https://api.github.com/repos/pulpogato/rename-demo",
        "forks_url" : "https://api.github.com/repos/pulpogato/rename-demo/forks",
        "keys_url" : "https://api.github.com/repos/pulpogato/rename-demo/keys{/key_id}",
        "collaborators_url" : "https://api.github.com/repos/pulpogato/rename-demo/collaborators{/collaborator}",
        "teams_url" : "https://api.github.com/repos/pulpogato/rename-demo/teams",
        "hooks_url" : "https://api.github.com/repos/pulpogato/rename-demo/hooks",
        "issue_events_url" : "https://api.github.com/repos/pulpogato/rename-demo/issues/events{/number}",
        "events_url" : "https://api.github.com/repos/pulpogato/rename-demo/events",
        "assignees_url" : "https://api.github.com/repos/pulpogato/rename-demo/assignees{/user}",
        "branches_url" : "https://api.github.com/repos/pulpogato/rename-demo/branches{/branch}",
        "tags_url" : "https://api.github.com/repos/pulpogato/rename-demo/tags",
        "blobs_url" : "https://api.github.com/repos/pulpogato/rename-demo/git/blobs{/sha}",
        "git_tags_url" : "https://api.github.com/repos/pulpogato/rename-demo/git/tags{/sha}",
        "git_refs_url" : "https://api.github.com/repos/pulpogato/rename-demo/git/refs{/sha}",
        "trees_url" : "https://api.github.com/repos/pulpogato/rename-demo/git/trees{/sha}",
        "statuses_url" : "https://api.github.com/repos/pulpogato/rename-demo/statuses/{sha}",
        "languages_url" : "https://api.github.com/repos/pulpogato/rename-demo/languages",
        "stargazers_url" : "https://api.github.com/repos/pulpogato/rename-demo/stargazers",
        "contributors_url" : "https://api.github.com/repos/pulpogato/rename-demo/contributors",
        "subscribers_url" : "https://api.github.com/repos/pulpogato/rename-demo/subscribers",
        "subscription_url" : "https://api.github.com/repos/pulpogato/rename-demo/subscription",
        "commits_url" : "https://api.github.com/repos/pulpogato/rename-demo/commits{/sha}",
        "git_commits_url" : "https://api.github.com/repos/pulpogato/rename-demo/git/commits{/sha}",
        "comments_url" : "https://api.github.com/repos/pulpogato/rename-demo/comments{/number}",
        "issue_comment_url" : "https://api.github.com/repos/pulpogato/rename-demo/issues/comments{/number}",
        "contents_url" : "https://api.github.com/repos/pulpogato/rename-demo/contents/{+path}",
        "compare_url" : "https://api.github.com/repos/pulpogato/rename-demo/compare/{base}...{head}",
        "merges_url" : "https://api.github.com/repos/pulpogato/rename-demo/merges",
        "archive_url" : "https://api.github.com/repos/pulpogato/rename-demo/{archive_format}{/ref}",
        "downloads_url" : "https://api.github.com/repos/pulpogato/rename-demo/downloads",
        "issues_url" : "https://api.github.com/repos/pulpogato/rename-demo/issues{/number}",
        "pulls_url" : "https://api.github.com/repos/pulpogato/rename-demo/pulls{/number}",
        "milestones_url" : "https://api.github.com/repos/pulpogato/rename-demo/milestones{/number}",
        "notifications_url" : "https://api.github.com/repos/pulpogato/rename-demo/notifications{?since,all,participating}",
        "labels_url" : "https://api.github.com/repos/pulpogato/rename-demo/labels{/name}",
        "releases_url" : "https://api.github.com/repos/pulpogato/rename-demo/releases{/id}",
        "deployments_url" : "https://api.github.com/repos/pulpogato/rename-demo/deployments",
        "created_at" : "2025-03-22T00:07:42Z",
        "updated_at" : "2026-06-30T20:20:51Z",
        "pushed_at" : "2025-12-04T20:58:35Z",
        "git_url" : "git://github.com/pulpogato/rename-demo.git",
        "ssh_url" : "git@github.com:pulpogato/rename-demo.git",
        "clone_url" : "https://github.com/pulpogato/rename-demo.git",
        "svn_url" : "https://github.com/pulpogato/rename-demo",
        "homepage" : "https://github.com/pulpogato/create-demo",
        "size" : 0,
        "stargazers_count" : 0,
        "watchers_count" : 0,
        "language" : null,
        "has_issues" : true,
        "has_projects" : true,
        "has_downloads" : true,
        "has_wiki" : true,
        "has_pages" : false,
        "has_discussions" : false,
        "forks_count" : 0,
        "mirror_url" : null,
        "archived" : false,
        "disabled" : false,
        "open_issues_count" : 3,
        "license" : null,
        "allow_forking" : true,
        "is_template" : false,
        "web_commit_signoff_required" : false,
        "has_pull_requests" : true,
        "pull_request_creation_policy" : "all",
        "topics" : [ ],
        "visibility" : "public",
        "forks" : 0,
        "open_issues" : 3,
        "watchers" : 0,
        "default_branch" : "main",
        "permissions" : {
          "admin" : true,
          "maintain" : true,
          "push" : true,
          "triage" : true,
          "pull" : true
        },
        "temp_clone_token" : "",
        "allow_squash_merge" : true,
        "allow_merge_commit" : true,
        "allow_rebase_merge" : true,
        "allow_auto_merge" : false,
        "delete_branch_on_merge" : false,
        "allow_update_branch" : false,
        "use_squash_pr_title_as_default" : false,
        "squash_merge_commit_message" : "COMMIT_MESSAGES",
        "squash_merge_commit_title" : "COMMIT_OR_PR_TITLE",
        "merge_commit_message" : "PR_TITLE",
        "merge_commit_title" : "MERGE_MESSAGE",
        "custom_properties" : { },
        "organization" : {
          "login" : "pulpogato",
          "id" : 183456368,
          "node_id" : "O_kgDOCu9ScA",
          "avatar_url" : "https://avatars.githubusercontent.com/u/183456368?v=4",
          "gravatar_id" : "",
          "url" : "https://api.github.com/users/pulpogato",
          "html_url" : "https://github.com/pulpogato",
          "followers_url" : "https://api.github.com/users/pulpogato/followers",
          "following_url" : "https://api.github.com/users/pulpogato/following{/other_user}",
          "gists_url" : "https://api.github.com/users/pulpogato/gists{/gist_id}",
          "starred_url" : "https://api.github.com/users/pulpogato/starred{/owner}{/repo}",
          "subscriptions_url" : "https://api.github.com/users/pulpogato/subscriptions",
          "organizations_url" : "https://api.github.com/users/pulpogato/orgs",
          "repos_url" : "https://api.github.com/users/pulpogato/repos",
          "events_url" : "https://api.github.com/users/pulpogato/events{/privacy}",
          "received_events_url" : "https://api.github.com/users/pulpogato/received_events",
          "type" : "Organization",
          "user_view_type" : "public",
          "site_admin" : false
        },
        "security_and_analysis" : {
          "secret_scanning" : {
            "status" : "enabled"
          },
          "secret_scanning_push_protection" : {
            "status" : "enabled"
          },
          "dependabot_security_updates" : {
            "status" : "disabled"
          },
          "secret_scanning_non_provider_patterns" : {
            "status" : "disabled"
          },
          "secret_scanning_validity_checks" : {
            "status" : "disabled"
          }
        },
        "network_count" : 0,
        "subscribers_count" : 0
      }
