- request:
    method: GET
    uri: /codes_of_conduct/citizen_code_of_conduct
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body: |-
      {
        "key" : "citizen_code_of_conduct",
        "name" : "Citizen Code Of Conduct",
        "html_url" : null,
        "url" : "https://api.github.com/codes_of_conduct/citizen_code_of_conduct",
        "body" : "# Citizen Code of Conduct\n\n## 1. Purpose\n\nA primary goal of [COMMUNITY_NAME] is to be inclusive to the largest number of contributors, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).\n\nThis code [...]
