- request:
    method: GET
    uri: /codes_of_conduct
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body: |-
      [ {
        "key" : "django",
        "name" : "Django",
        "html_url" : null,
        "url" : "https://api.github.com/codes_of_conduct/django"
      }, {
        "key" : "contributor_covenant",
        "name" : "Contributor Covenant",
        "html_url" : null,
        "url" : "https://api.github.com/codes_of_conduct/contributor_covenant"
      } ]
