- request:
    method: GET
    uri: /repos/example/cisys-jenkins-bom/pulls?state=all&head=johnburns%3ANEBULA-3674
    protocol: HTTP/1.1
    headers:
    body: null
  response:
    statusCode: 200
    headers:
      Content-Type: application/json; charset=utf-8
    body: |-
      [
        {
          "url": "https://api.github.com/api/v3/repos/example/cisys-jenkins-bom/pulls/170",
          "id": 5309781,
          "node_id": "MDExOlB1bGxSZXF1ZXN0NTMwOTc4MQ==",
          "html_url": "https://github.com/example/cisys-jenkins-bom/pull/170",
          "diff_url": "https://github.com/example/cisys-jenkins-bom/pull/170.diff",
          "patch_url": "https://github.com/example/cisys-jenkins-bom/pull/170.patch",
          "issue_url": "https://api.github.com/api/v3/repos/example/cisys-jenkins-bom/issues/170",
          "number": 170,
          "state": "closed",
          "locked": false,
          "title": "NEBULA-3674 prepare for Nebula 10",
          "user": {
            "login": "johnburns",
            "id": 14513,
            "node_id": "MDQ6VXNlcjE0NTEz",
            "avatar_url": "https://github.com/avatars/u/14513?",
            "gravatar_id": "",
            "url": "https://api.github.com/api/v3/users/johnburns",
            "html_url": "https://github.com/johnburns",
            "followers_url": "https://api.github.com/api/v3/users/johnburns/followers",
            "following_url": "https://api.github.com/api/v3/users/johnburns/following{/other_user}",
            "gists_url": "https://api.github.com/api/v3/users/johnburns/gists{/gist_id}",
            "starred_url": "https://api.github.com/api/v3/users/johnburns/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/api/v3/users/johnburns/subscriptions",
            "organizations_url": "https://api.github.com/api/v3/users/johnburns/orgs",
            "repos_url": "https://api.github.com/api/v3/users/johnburns/repos",
            "events_url": "https://api.github.com/api/v3/users/johnburns/events{/privacy}",
            "received_events_url": "https://api.github.com/api/v3/users/johnburns/received_events",
            "type": "User",
            "site_admin": false
          },
          "body": "this project was the only one which was using the extension to enable gradle module metadata. this extension is being removed in favor of the property, so this PR adds the property and removes usage of the extension to prepare for Nebula 10",
          "created_at": "2025-10-22T19:54:14Z",
          "updated_at": "2025-10-22T21:07:33Z",
          "closed_at": "2025-10-22T21:07:33Z",
          "merged_at": "2025-10-22T21:07:33Z",
          "merge_commit_sha": "a75fc1713d29300896b1144e655017ab08e7d8cf",
          "assignee": null,
          "assignees": [

          ],
          "requested_reviewers": [

          ],
          "requested_teams": [

          ],
          "labels": [

          ],
          "milestone": null,
          "draft": false,
          "commits_url": "https://api.github.com/api/v3/repos/example/cisys-jenkins-bom/pulls/170/commits",
          "review_comments_url": "https://api.github.com/api/v3/repos/example/cisys-jenkins-bom/pulls/170/comments",
          "review_comment_url": "https://api.github.com/api/v3/repos/example/cisys-jenkins-bom/pulls/comments{/number}",
          "comments_url": "https://api.github.com/api/v3/repos/example/cisys-jenkins-bom/issues/170/comments",
          "statuses_url": "https://api.github.com/api/v3/repos/example/cisys-jenkins-bom/statuses/7faa0814284a21ee941c79e70579f838ccda750a",
          "head": {
            "label": "johnburns:NEBULA-3674",
            "ref": "NEBULA-3674",
            "sha": "7faa0814284a21ee941c79e70579f838ccda750a",
            "user": {
              "login": "johnburns",
              "id": 14513,
              "node_id": "MDQ6VXNlcjE0NTEz",
              "avatar_url": "https://github.com/avatars/u/14513?",
              "gravatar_id": "",
              "url": "https://api.github.com/api/v3/users/johnburns",
              "html_url": "https://github.com/johnburns",
              "followers_url": "https://api.github.com/api/v3/users/johnburns/followers",
              "following_url": "https://api.github.com/api/v3/users/johnburns/following{/other_user}",
              "gists_url": "https://api.github.com/api/v3/users/johnburns/gists{/gist_id}",
              "starred_url": "https://api.github.com/api/v3/users/johnburns/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/api/v3/users/johnburns/subscriptions",
              "organizations_url": "https://api.github.com/api/v3/users/johnburns/orgs",
              "repos_url": "https://api.github.com/api/v3/users/johnburns/repos",
              "events_url": "https://api.github.com/api/v3/users/johnburns/events{/privacy}",
              "received_events_url": "https://api.github.com/api/v3/users/johnburns/received_events",
              "type": "User",
              "site_admin": false
            },
            "repo": {
              "id": 110520,
              "node_id": "MDEwOlJlcG9zaXRvcnkxMTA1MjA=",
              "name": "cisys-jenkins-bom",
              "full_name": "johnburns/cisys-jenkins-bom",
              "private": true,
              "owner": {
                "login": "johnburns",
                "id": 14513,
                "node_id": "MDQ6VXNlcjE0NTEz",
                "avatar_url": "https://github.com/avatars/u/14513?",
                "gravatar_id": "",
                "url": "https://api.github.com/api/v3/users/johnburns",
                "html_url": "https://github.com/johnburns",
                "followers_url": "https://api.github.com/api/v3/users/johnburns/followers",
                "following_url": "https://api.github.com/api/v3/users/johnburns/following{/other_user}",
                "gists_url": "https://api.github.com/api/v3/users/johnburns/gists{/gist_id}",
                "starred_url": "https://api.github.com/api/v3/users/johnburns/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/api/v3/users/johnburns/subscriptions",
                "organizations_url": "https://api.github.com/api/v3/users/johnburns/orgs",
                "repos_url": "https://api.github.com/api/v3/users/johnburns/repos",
                "events_url": "https://api.github.com/api/v3/users/johnburns/events{/privacy}",
                "received_events_url": "https://api.github.com/api/v3/users/johnburns/received_events",
                "type": "User",
                "site_admin": false
              },
              "html_url": "https://github.com/johnburns/cisys-jenkins-bom",
              "description": "JENKINS-1048 Forked from github/sghill/jenkins-bom due to the jcenter shutdown",
              "fork": true,
              "url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom",
              "forks_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/forks",
              "keys_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/keys{/key_id}",
              "collaborators_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/teams",
              "hooks_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/hooks",
              "issue_events_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/issues/events{/number}",
              "events_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/events",
              "assignees_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/assignees{/user}",
              "branches_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/branches{/branch}",
              "tags_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/tags",
              "blobs_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/git/refs{/sha}",
              "trees_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/git/trees{/sha}",
              "statuses_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/statuses/{sha}",
              "languages_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/languages",
              "stargazers_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/stargazers",
              "contributors_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/contributors",
              "subscribers_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/subscribers",
              "subscription_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/subscription",
              "commits_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/commits{/sha}",
              "git_commits_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/git/commits{/sha}",
              "comments_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/comments{/number}",
              "issue_comment_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/issues/comments{/number}",
              "contents_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/contents/{+path}",
              "compare_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/compare/{base}...{head}",
              "merges_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/merges",
              "archive_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/downloads",
              "issues_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/issues{/number}",
              "pulls_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/pulls{/number}",
              "milestones_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/milestones{/number}",
              "notifications_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/labels{/name}",
              "releases_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/releases{/id}",
              "deployments_url": "https://api.github.com/api/v3/repos/johnburns/cisys-jenkins-bom/deployments",
              "created_at": "2025-10-22T19:53:12Z",
              "updated_at": "2025-10-22T19:53:12Z",
              "pushed_at": "2025-10-22T21:01:42Z",
              "git_url": "git://github.com/johnburns/cisys-jenkins-bom.git",
              "ssh_url": "git@github.com:johnburns/cisys-jenkins-bom.git",
              "clone_url": "https://github.com/johnburns/cisys-jenkins-bom.git",
              "svn_url": "https://github.com/johnburns/cisys-jenkins-bom",
              "homepage": null,
              "size": 341,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": null,
              "has_issues": false,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": false,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "topics": [

              ],
              "visibility": "private",
              "forks": 0,
              "open_issues": 0,
              "watchers": 0,
              "default_branch": "main"
            }
          },
          "base": {
            "label": "example:main",
            "ref": "main",
            "sha": "4da519ae89fa91a5e00ef33ac0cba6c7f647704f",
            "user": {
              "login": "example",
              "id": 17,
              "node_id": "MDEyOk9yZ2FuaXphdGlvbjE3",
              "avatar_url": "https://github.com/avatars/u/17?",
              "gravatar_id": "",
              "url": "https://api.github.com/api/v3/users/example",
              "html_url": "https://github.com/example",
              "f[...]
