name: Gradle Build

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["*"]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-rc.[1-9][0-9]*"
  workflow_dispatch:

jobs:
  build:
    name: "Build with Gradle"
    runs-on: ubuntu-24.04-arm
    env:
      MAX_WORKERS: 2

    permissions:
      security-events: write
      packages: read
      actions: read
      contents: write
      id-token: write
      attestations: write
      pages: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Fetch tags
        if: github.ref == 'refs/heads/main'
        run: git fetch --tags

      - uses: gradle/actions/wrapper-validation@v5

      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: zulu
          cache: gradle

      - uses: gradle/actions/setup-gradle@v5

      - name: Extract GitHub API Version
        id: api-version
        run: echo "version=$(grep 'gh.api.commit' gradle.properties | cut -d'=' -f2)" >> $GITHUB_OUTPUT

      - name: Cache Downloaded Schemas
        id: schema-cache
        uses: actions/cache@v5
        with:
          path: |
            */build/generated-src/main/resources/schema.json
            */build/resources/main/schema.graphqls
          key: schema-cache-${{ steps.api-version.outputs.version }}

      - name: Build Main Project
        if: github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/v')
        run: ./gradlew build asciidoctorDocs --max-workers=$MAX_WORKERS --continue

      - name: Run Pitest (Renovate PRs Only)
        if: github.event_name == 'pull_request' && github.actor == 'renovate[bot]'
        run: ./gradlew pitest --max-workers=$MAX_WORKERS

      - name: Build Snapshot
        if: github.ref == 'refs/heads/main'
        env: &env
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEUSERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEPASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
        run: ./gradlew build asciidoctorDocs snapshot --max-workers=$MAX_WORKERS

      - name: Deploy docs to ghpages
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./pulpogato-docs/build/

      - name: Build Candidate
        if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '-rc')
        env: *env
        run: ./gradlew -Prelease.useLastTag=true build candidate --max-workers=$MAX_WORKERS

      - name: Build Final
        if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, '-rc')
        env: *env
        run: ./gradlew -Prelease.useLastTag=true build final --max-workers=$MAX_WORKERS

      - uses: actions/attest-build-provenance@v4
        if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main'
        with:
          subject-path: "build/repos/**/*.jar,build/repos/**/*.pom,build/repos/**/*.module"
