name: Unignore Tests

on:
  schedule:
    - cron: "0 1 * * 6"
  workflow_dispatch:
    inputs:
      mode:
        description: "Mode to run (1: Root-level, 2: Version-level)"
        required: true
        default: "1"
        type: choice
        options:
          - "1"
          - "2"

permissions:
  contents: write
  pull-requests: write

jobs:
  unignore-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: 1784694
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Configure Git User
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - uses: gradle/actions/wrapper-validation@v5

      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: zulu
          cache: gradle

      - uses: gradle/actions/setup-gradle@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Run unignore script
        run: |-
          uv run unignore.py ${{ inputs.mode || '1' }}

      - name: Check for changes
        run: |
          if git diff --quiet; then
            echo "No changes detected"
            exit 1
          else
            echo "Changes detected:"
            git diff
          fi

      - name: Create Pull Request
        run: |-
          git checkout -b unignore-tests
          git add .
          git commit -m "Unignore tests"
          git push --force origin unignore-tests
          gh pr create --base main
