name: Update Schema Version

on:
  schedule:
    - cron: '0 22 * * 5'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  gh-api-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: 1784694
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Configure Git User
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - uses: gradle/actions/wrapper-validation@v5

      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: zulu
          cache: gradle

      - name: Update Schema Version
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |-
          ./update-schema-version.sh

      - uses: gradle/actions/setup-gradle@v5
